body{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main1{
    background-color: #1F2937;
    color: white;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    gap: 200px;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 15px;
    font-weight: 500;
}

.links{
    display: flex;
    gap: 25px;
}



.container{
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.first{
    max-width: 70px;
    background-color: #3882F6;
}

button{
    border: none;
    border-radius: 5px;
    outline: none;
    color: #E5E7EB;
}

.maintext{
    font-size: 48px;
    max-width: 500px;
    font-weight: 900;
}
.main1 .subtext{
    font-size: 10px;
    color: grey;
    max-width: 350px;
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.main2{
    margin-bottom: 50px;
}

.infos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0 300px;
}
.main2 .text{
    max-width: 120px;
    font-size: 15px;
    color: grey;
}

.main3{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}
.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
    flex-wrap: wrap;
}
.writer{
    font-weight: 800;
    font-size: 20px;
    align-self: flex-end;
    margin-bottom: 100px;
    margin-right: 100px;
}

.main4{
    display: flex;
    justify-content: space-around;
    border: #3882F6 solid;
    background-color: #3882F6;
    flex-shrink: 0;
    color: #E5E7EB;
    padding: 20px;
    margin: 100px;
    border-radius: 5px;
}
.main4 .text{
    font-size: 20px;
    font-weight: 700;
}
.main4 .subtext{
    font-size: 10px;
}
.main4 .second{
    background-color: #3882F6;
    outline: auto;
    border-radius: 5px;
    color: #E5E7EB;
    width: 100px;
    height: 30px;
}

footer{
    color: #E5E7EB;
    background-color: #1F2937;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}